.input-div {
  border: 1px solid rgb(219, 219, 219);
  width: 268px;
  border-radius: 3px;
  margin: 0 auto 0.5rem;

  label {
    display: block;
    position: relative;
    color: #8e8e8e;
    font-size: 10px;
    width: 100%;
  }

  span {
    display: block;
    position: absolute;
    z-index: 3;
    pointer-events: none;
    top: 50%;
    left: 0.5rem;
    transform: translate(10px, -50%);
    transition: all 0.1s ease-in;
    font-size: 14px;
    &.span-move {
      transform: translate(0, 0);
      top: 0;
      font-size: 10px;
    }
  }

  input {
    width: 100%;
    padding: 0.7rem 1rem 0.4rem;
    font-size: 14px;
    color: black;
    background-color: rgba(219, 219, 219, 0.5);
    &:focus {
      outline: none;
    }
  }
}
