.form {
  background-color: #fff;
  width: 90%;
  border: 1px solid rgb(219, 219, 219);
  margin: 0 auto;

  & > * {
    margin: 0 auto 0.5rem;
  }

  &__img {
    width: 100%;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 36px 0 12px 0;
  }

  &__login-btn {
    display: block;
    width: 268px;
    background-color: rgb(0, 149, 246);
    padding: 5px 9px;
    color: #fff;
    border-radius: 3px;

    &.disabled {
      background-color: rgba(0, 149, 246, 0.3);
    }
  }
}
